<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
  <div class="container p-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center fs-4">Change Password</div>
          <div class="card-body">
<!--            <th:block th:if="${session.successMsg !=NULL}">-->
<!--              <p th:text="${session.successMsg}" class="text-center text-success alert alert-success"></p>-->
<!--            </th:block>-->
<!--            <th:block th:if="${session.errorMsg !=NULL}">-->
<!--              <p th:text="${session.errorMsg}" class="text-center text-danger alert alert-danger"></p>-->
<!--            </th:block>-->
            <th:block th:if="${successMsg !=NULL}">
              <p th:text="${successMsg}" class="text-center text-success alert alert-success"></p>
            </th:block>
            <th:block th:if="${errorMsg !=NULL}">
              <p th:text="${errorMsg}" class="text-center text-danger alert alert-danger"></p>
            </th:block>

            <form action="#" th:action="@{/user/updatePass}" method="post">
              <div class="mb-3">
                <label>Enter Old Email</label>
                <input type="password" name="old_pass" class="form-control" required>
              </div>
              <div class="mb-3">
                <label>Enter New Password</label>
                <input type="password" name="new_pass" class="form-control" required>
              </div>
              <button class="btn btn-primary form-control">Change Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
</body>
</html>