<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.com" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
  <div class="container p-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center fs-4">Forgot Password</div>
          <div class="card-body">
            <form action="#" th:action="@{/forgotPassword}" method="post">
              <div th:if="${msg!=NULL}">
                <p class="text-center text-danger alert alert-danger" th:text="${msg}">Invalid Email or password</p>
              </div>
              <div th:if="${msgSuccess!=NULL}">
                <p class="text-center text-success alert alert-success" th:text="${msgSuccess}">Invalid Email or password</p>
              </div>
              <div class="mb-3">
                <label>Enter Email</label>
                <input type="email" name="email" class="form-control" required>
              </div>
              <div class="mb-3">
                <label>Enter Mobile Number</label>
                <input type="text" name="phoneNumber" class="form-control" required>
              </div>
              <button class="btn btn-primary form-control" th:href="@{/loadResetPassword}">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
</body>
</html>