<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.com" th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section>
  <div class="container p-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center fs-4">Reset Password</div>
          <div class="card-body">
            <form action="#" th:action="@{/changePassword}" method="post">
              <!--              <div th:if="${param.error}">-->
              <!--                <p class="text-center text-danger alert alert-danger">Invalid Email or password</p>-->
              <!--              </div>-->

              <!--              <div th:if="${param.logout}">-->
              <!--                <p class="text-center text-success alert alert-success">Logout successfully</p>-->
              <!--              </div>-->
              <div class="mb-3">
                <label>Enter New Password</label>
                <input type="password" name="npw" class="form-control" required>
              </div>
              <div class="mb-3">
                <label>Enter Confirm Password</label>
                <input type="password" name="cfpw" class="form-control" required>
              </div>
              <input type="hidden" name="id" th:value="${id}">
              <button class="btn btn-primary form-control" th:href="@{/loadResetPassword}">Change Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
</body>
</html>